    <div class="logo fixed flex-parent flex-parent--center-cross pb18 border-b border--gray-light w360" style="top:10px;">
      <!--span class='ico txt-h2 txt-bold border round-full bg-blue-light color-white'>M</span-->
      <img class="ico round-full" src="https://static.wixstatic.com/media/e10a80_5932a1ba843b45719a5607465c228af0~mv2.png">
      <div class="flex-parent flex-parent--column ml12">
        <span class="txt-bold txt-l color-blue">mostransport.info</span>
        <span class="txt-s">Анализ маршрутной сети городов</span>
      </div>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false">
        <svg class="bi bi-justify" width="2em" height="2em" viewBox="0 0 16 16" fill="#9b9b9b" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
    </div>
