<nav id="collapseMenu" class="vertical-nav bg-dark d-flex flex-column py-4 collapsed">
  <%= link_to "Изохроны остановок", isochrones_path, :class=>"list-group-item list-group-item-action bg-dark text-white text-nowrap" %>
  <%= link_to "Маршруты ОТ", routes_path, :class=>"list-group-item list-group-item-action bg-dark text-white text-nowrap" %>
  <%= link_to "Редактор маршрутов", "constructor", :class=>"list-group-item list-group-item-action bg-dark text-white text-nowrap" %>
</nav>
