<nav id="collapseMenu" class="vertical-nav bg-dark d-flex flex-column collapsed">
  <%= link_to "Изохроны", isochrones_path, :class=>"list-group-item list-group-item-action bg-dark text-white text-nowrap" %>
  <%= link_to "Редактор маршрутов", "constructor", :class=>"list-group-item list-group-item-action bg-dark text-white text-nowrap" %>
  <%= link_to "О проекте", root_path, :class=>"list-group-item list-group-item-action bg-dark text-white text-nowrap" %>
</nav>
