      <div id="collapseMenu" class="collapse list-group list-group-flush w360">
        <%= link_to "Изохроны остановок", "map", :class=>"list-group-item list-group-item-action" %>
        <%= link_to "Граф маршрутов", routes_path, :class=>"list-group-item list-group-item-action" %>
        <%= link_to "Редактор маршрутов", "constructor", :class=>"list-group-item list-group-item-action" %>
      </div>
