<nav class="navbar fixed-top navbar-light bg-light border-bottom pl-1">
  <%= render "shared/logo" %>
  <%= render "shared/select_city" %>
  <%= yield :menu_bar %>
  <%= render "shared/social_links" %>
</nav>
