    <div id="links" class="d-flex align-items-center mt-3">
      <a href="https://www.facebook.com/alexradchenko" target="_blank" data-content="https://www.facebook.com/alexradchenko" data-type="external" rel="noopener" id="comp-ka9lcxis0imagelink" class="lb1imageItemlink">
        <img id="comp-ka9lcxis0imageimageimage" alt="Facebook" data-type="image" itemprop="image" src="https://upload.wikimedia.org/wikipedia/commons/8/84/FaceB.png" style="width: 25px; height: 25px; object-fit: cover;">
      </a>

      <a href="https://twitter.com/alex_radch" target="_blank" data-content="https://twitter.com/alex_radch" data-type="external" rel="noopener" id="comp-ka9lcxis0imagelink" class="lb1imageItemlink">
        <img id="comp-ka9lcxis1imageimageimage" alt="Twitter" data-type="image" itemprop="image" src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Twitter_Logo.png" style="width: 25px; height: 25px; object-fit: cover;">
      </a>
      <a href="https://www.youtube.com/user/alexradchenko" target="_blank" data-content="https://www.youtube.com/user/alexradchenko" data-type="external" rel="noopener" id="comp-ka9lcxis0imagelink" class="lb1imageItemlink">
        <img id="comp-ka9lcxis2imageimageimage" alt="YouTube" data-type="image" itemprop="image" src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Youtube_new.svg" style="width: 25px; height: 25px; object-fit: cover;">
      </a>
      <a href="https://www.instagram.com/mosurbanist/" target="_blank" data-content="https://www.instagram.com/mosurbanist/" data-type="external" rel="noopener" id="comp-ka9lcxis0imagelink" class="lb1imageItemlink">
        <img id="comp-ka9lcxis3imageimageimage" alt="Instagram" data-type="image" itemprop="image" src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" style="width: 25px; height: 25px; object-fit: cover;">
      </a>
      <a href=" https://t.me/urban_blog" target="_blank" data-content=" https://t.me/urban_blog" data-type="external" rel="noopener" id="comp-ka9lcxis0imagelink" class="lb1imageItemlink">
        <img id="comp-ka9lcxis3imageimageimage2" alt="Telegram" data-type="image" itemprop="image" src="https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg" style="width: 25px; height: 25px; object-fit: cover;">
      </a>
      <div class="fb-share-button mr12" data-href="https://www.mostransport.info/" data-layout="button" data-size="large">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.mostransport.info%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
          Share
        </a>
      </div>
      <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Анализ маршрутной сети Москвы​&url=https://www.mostransport.info/" data-size="large">
        Share
      </a>
    </div>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/gb_EN/sdk.js#xfbml=1&version=v7.0&appId=306681460273296&autoLogAppEvents=1"></script>

  <style>

      #links{
        position: absolute;
        top: 0px;
        right: 20px;
      }

      #links img{
        border-radius: 9999px;
        margin-right: 20px;
      }

      .fs1facebookShareButton {
        border-radius: border-radius: 9999px;
        cursor: pointer;
        min-width: 24px;
        white-space: nowrap;
        display: inline-block;
      }

      .fs1shareButton {
        height: 25px;
        border-radius: 2px;
        border-width: 1px;
        border-style: solid;
        border-color: #9aabc6 #6f83ad #6176a3;
        background: url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/bg_fbshare.png) 0 0 repeat-x;
      }

      .fs1icon {
        width: 21px;
        height: 21px;
        background: url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/facebooklogo.png) 5px 3px no-repeat;
        border-right: 1px solid #425e85;
        position: absolute;
      }

      .fs1label {
        line-height: 21px;
        margin-left: 22px;
        padding: 3px 6px;
        color: #fff;
        font-size: 12px;
        text-shadow: 1px 1px 1px #304871;
        border-left: 1px solid #6176a3;
        vertical-align: top;
      }

    </style>
