<div id="city_metrics" class="tool_panel d-none px-3 w800 h-100">
  <p class="h5 pb-3 mb-0 border-bottom text-blue text-left">
    Показатели города
    <button type="button" class="close close-tool" aria-label="Close" title="Закрыть">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>
  <div class="panel h-100 overflow-auto"></div>
</div>
