<div id="import_routes" class= "tool_panel d-none px-3 w800 h-100">
  <p class="h5 pb-3 border-bottom text-blue text-left">
    Импорт маршрутов
    <button type="button" class="close close-tool" aria-label="Close" title="Закрыть">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>
  <div class="h-100 panel row no-gutters">
  </div>
</div>
