<div id="isochrones" class= "tool_panel h-100 d-none px-3 w400">
    <p class="h5 pb-3 border-bottom text-blue text-left">
      Изохроны
      <button type="button" class="close close-tool" aria-label="Close" title="Закрыть">
        <span aria-hidden="true">&times;</span>
      </button>
    </p>

    <form id='params'>
      <p class='my-4'>Cпособ перемещения:</p>
      <div class='select-container bg-blue rounded-pill'>
        <select name='profile' class='custom-select bg-transparent rounded-pill text-white px-3'>
          <option value='public_transport'>Общественный транспорт</option>
          <option value='driving'>Автомобиль</option>
          <option value='cycling'>Велосипед</option>
          <option value='walking'>Пешком</option>
        </select>
        <div class='select-arrow'></div>
      </div>

      <p class='my-4'>Время:</p>

      <div class='mb-4 d-flex align-items-center justify-content-between'>
        <button name='duration' class='btn btn-green active rounded-pill w110' data-value='10'>10 мин</button>
        <button name='duration' class='btn btn-yellow active rounded-pill w110' data-value='20'>20 мин</button>
        <button name='duration' class='btn btn-orange active rounded-pill w110' data-value='30'>30 мин</button>
      </div>

      <div class="custom-control custom-checkbox">
        <input name="use_intervals" type="checkbox" class="custom-control-input" id="use_intervals">
        <label class="custom-control-label" for="use_intervals">Учитывать интервалы движения</label>
      </div>

      <div class="custom-control custom-checkbox mt-2">
        <input name="use_changes" type="checkbox" class="custom-control-input" id="use_changes">
        <label class="custom-control-label" for="use_changes">Учитывать пересадки</label>
      </div>

    </form>

    <div id="isochrones_stat" class="mt-5 pb-3 none h-100 overflow-auto"></div>
</div>
