<div id="new_project" class= "tool_panel d-none px-3 w600 h-100">
  <p class="h5 pb-3 border-bottom text-blue text-left">
    Новый проект
    <button type="button" class="close close-tool" aria-label="Close" title="Закрыть">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>
  <div class="panel h-100 overflow-auto pt-2 px-2">
  </div>
</div>
