<div id="route_search" class= "tool_panel d-none">
  <p class="h5 mt-4 pb-3 border-bottom text-blue text-left">Маршруты</p>

  <div id="search_menu" class="mt-4"></div>

  <div class="w360 mt-4">
    <p class="mb-0">Выбранные маршруты:</p>
    <div id="selected_routes"></div>
  </div>
</div>
