<div id="station_info" class= "tool_panel">
  <p class="h5 mt-4 pb-3 border-bottom text-blue text-left">Остановки</p>
  <div class="panel">
    <p id="choose_stops_alert" class="text-muted text-center py-3 border rounded mt-4">Выберите остановки на карте, чтобы получить по ним информацию</p>
  </div>
</div>
