<div id="station_search" class= "tool_panel h-100 d-none px-3 w600">
  <p class="h5 mb-0 pb-3 border-bottom text-blue text-left">
    Остановки общественного транспорта
    <button type="button" class="close close-tool" aria-label="Close" title="Закрыть">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>

  <div id="station_search_menu" class="mt-2"></div>

  <div class="pt-3 h-100 pb-100">
    <div id="stations_list" class="h-100 overflow-auto pr-2"></div>
  </div>
</div>
