<div id="station_info" class= "tool_panel d-none px-3 w600 h-100">
  <p class="h5 pb-3 border-bottom text-blue text-left">
    Остановки общественного транспорта
    <button type="button" class="close close-tool" aria-label="Close" title="Закрыть">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>
  <div class="panel h-100 overflow-auto">
    <p id="choose_stops_alert" class="text-muted text-center py-3 border rounded mt-4">
      Выберите остановки на карте, чтобы получить по ним информацию
    </p>
  </div>
</div>
