<% content_for :side_bar do %>
  <p class="h4 mt-3 pb-3 border-bottom text-blue text-center">Плотность маршрутов</p>
  <div id="legend" class="pt-4">
    <p class="txt-l mb-4">Легенда:</p>
    <div class="d-flex align-items-center">
      <div style="width: 50px; border-bottom: 3px solid #42d103;"></div>
      <span class="ml-3">1 - 4 маршрута</span>
    </div>
    <div class="d-flex align-items-center">
      <div style="width: 50px; border-bottom: 5px solid #efee0a;"></div>
      <span class="ml-3">5 - 9 маршрутов</span>
    </div>
    <div class="d-flex align-items-center">
      <div style="width: 50px; border-bottom: 7px solid #f3b307;"></div>
      <span class="ml-3">10 - 14 маршрутов</span>
    </div>
    <div class="d-flex align-items-center">
      <div style="width: 50px; border-bottom: 9px solid #e13d02;"></div>
      <span class="ml-3">15 и более маршрутов</span>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).on('turbolinks:load', function() {
       Paloma.start();
    });
  </script>

  <script type="text/javascript">

  </script>
<% end %>
