<div id="trackItem" class='collapse p-2 show' aria-labelledby="#trackHead" data-parent="#traks_list">
  <% @stations.each_with_index do |s,i| %>
    <% if i > 0 %>
      <div class="route_line pl-3">
        <span><%= "#{s.route_time.round} мин (#{s.distance.round} м)" %></span>
      </div>
    <% end %>

    <div class="route_stop d-flex align-items-center pr-2 rounded" data-stop-id="<%= s.station_id %>">
      <svg class="bi bi-geo-alt text-blue mr-2" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
      <a href class="stop_name station_popup_link ml6" data-src_station_id="<%= s.source_id %>"><%= s.station_name %></a>
    </div>
  <% end %>
</div>
