<div class="route_metrics">
  <p class="mb-3 text-blue">Показатели маршрута:</p>
  <table id="route_stat" class="table table-hover">
    <thead class="text-secondary">
      <tr>
        <th>Показатель</th>
        <th>Значение</th>
      </tr>
    </thead>
    <tbody>
      <% ['route_length','straightness','route_cost','population_per_track','tracks_per_hour'].each do |metric_code| %>
        <% metric = @route_metrics.find{|m| m[:metric_code] == metric_code}%>
        <% if metric.present? %>
          <tr>
            <td><%= metric[:metric_name] %></td>
            <td><%= "#{metric[:metric_value]} #{metric[:unit_code]}" %></td>
          </tr>
        <% end %>
      <% end %>

      <% @isochrone_metrics.each do |metric| %>
        <tr>
          <td><%= metric[:metric_name] %></td>
          <td><%= "#{metric[:metric_value]} #{metric[:unit_code]}" %></td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>
