<% content_for :side_bar do %>
  <p class="h4 mt-3 pb-3 border-bottom text-blue text-center">Поиск маршрутов</p>

  <div id="search_menu" class="mt-4"></div>

  <div class="w360 mt-4">
    <p class="mb-0">Выбранные маршруты:</p>
    <div id="selected_routes"></div>
  </div>
<% end %>


<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).on('turbolinks:load', function() {
       Paloma.start();
    });
  </script>
<% end %>
