<div class='flex-parent h-full'>
  <div class='flex-child flex-child--no-shrink px24 pb24 w400 h-full' style="padding-top: 320px">

    <div class="logo fixed flex-parent flex-parent--center-cross pb18 border-b border--gray-light w360" style="top:10px;">
      <!--span class='ico txt-h2 txt-bold border round-full bg-blue-light color-white'>M</span-->
      <img class="ico round-full" src="https://static.wixstatic.com/media/e10a80_5932a1ba843b45719a5607465c228af0~mv2.png">
      <div class="flex-parent flex-parent--column ml12">
        <span class="txt-bold txt-l color-blue">mostransport.info</span>
        <span class="txt-s">Анализ маршрутной сети городов</span>
      </div>
    </div>

    <form id='params' class="fixed w360" style="top:80px;">
      <h4 class='txt-m txt-bold mt30 mb12'>Выберите способ перемещения:</h4>
      <div class='select-container bg-blue color-white round-full border--0'>
        <select name='profile' class='select select--border-white round-full' style="box-shadow: none;padding: 6px 40px 6px 30px;">
          <option value='public_transport'>Общественный транспорт</option>
          <option value='driving'>Автомобиль</option>
          <option value='cycling'>Велосипед</option>
          <option value='walking'>Пешком</option>
        </select>
        <div class='select-arrow'></div>
      </div>

      <h4 class='txt-m txt-bold mt24 mb12'>Выберите время:</h4>

      <div class='mb24 align-center flex-parent flex-parent--row'>
        <button name='duration' class='btn btn--green mr12' data-value='10'>10 мин</button>
        <button name='duration' class='btn btn--yellow mr12' data-value='20'>20 мин</button>
        <button name='duration' class='btn btn--orange mr12' data-value='30'>30 мин</button>
      </div>

      <label class='checkbox-container'>
        <input name="use_intervals" type='checkbox' />
        <div class='checkbox mr6'>
          <svg class='icon'><use xlink:href='#icon-check' /></svg>
        </div>
        Учитывать интервалы движения
      </label>

    </form>

    <div id="info-box" class="mt24 pb12 none h-full scroll-styled scrolled">
      <h4 class='txt-m txt-bold mb12'>Статистика изохрона:</h4>
      <table id="stop_stat" class="table border--0">
        <thead>
          <tr>
            <th>Метрика</th>
            <th>10 мин</th>
            <th>20 мин</th>
            <th>30 мин</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

      <h4 class='txt-m txt-bold mb12 mt30'>Статистика маршрутов:</h4>
      <table id="routes_stat" class="table border--0">
        <thead>
          <tr>
            <th>Маршрут</th>
            <th>Интервал</th>
            <th>Длина</th>
            <th>Стоимость</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <div class='flex-child flex-child--grow'>
    <div id='map' class="h-full w-full"></div>
  </div>
</div>

<div id="links" class="flex-parent flex-parent--center-main mt24">
  <a href="https://www.facebook.com/alexradchenko" target="_blank" data-content="https://www.facebook.com/alexradchenko" data-type="external" rel="noopener" id="comp-ka9lcxis0imagelink" class="lb1imageItemlink">
    <img id="comp-ka9lcxis0imageimageimage" alt="Facebook" data-type="image" itemprop="image" src="https://upload.wikimedia.org/wikipedia/commons/8/84/FaceB.png" style="width: 25px; height: 25px; object-fit: cover;">
  </a>

  <a href="https://twitter.com/alex_radch" target="_blank" data-content="https://twitter.com/alex_radch" data-type="external" rel="noopener" id="comp-ka9lcxis0imagelink" class="lb1imageItemlink">
    <img id="comp-ka9lcxis1imageimageimage" alt="Twitter" data-type="image" itemprop="image" src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Twitter_Logo.png" style="width: 25px; height: 25px; object-fit: cover;">
  </a>
  <a href="https://www.youtube.com/user/alexradchenko" target="_blank" data-content="https://www.youtube.com/user/alexradchenko" data-type="external" rel="noopener" id="comp-ka9lcxis0imagelink" class="lb1imageItemlink">
    <img id="comp-ka9lcxis2imageimageimage" alt="YouTube" data-type="image" itemprop="image" src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Youtube_new.svg" style="width: 25px; height: 25px; object-fit: cover;">
  </a>
  <a href="https://www.instagram.com/mosurbanist/" target="_blank" data-content="https://www.instagram.com/mosurbanist/" data-type="external" rel="noopener" id="comp-ka9lcxis0imagelink" class="lb1imageItemlink">
    <img id="comp-ka9lcxis3imageimageimage" alt="Instagram" data-type="image" itemprop="image" src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" style="width: 25px; height: 25px; object-fit: cover;">
  </a>
  <a href=" https://t.me/urban_blog" target="_blank" data-content=" https://t.me/urban_blog" data-type="external" rel="noopener" id="comp-ka9lcxis0imagelink" class="lb1imageItemlink">
    <img id="comp-ka9lcxis3imageimageimage2" alt="Telegram" data-type="image" itemprop="image" src="https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg" style="width: 25px; height: 25px; object-fit: cover;">
  </a>
  <div class="fb-share-button mr12" data-href="https://www.mostransport.info/" data-layout="button" data-size="large">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.mostransport.info%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
      Share
    </a>
  </div>
  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Анализ маршрутной сети Москвы​&url=https://www.mostransport.info/" data-size="large">
    Share
  </a>
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/gb_EN/sdk.js#xfbml=1&version=v7.0&appId=306681460273296&autoLogAppEvents=1"></script>
